{% extends 'manager/base.html' %}

{% block head %}

  <style> 
    body { background-color: black; }
	
    #myFormyThing {
	  background: #7bc8ff; /* For browsers that do not support gradients */    
      background: -webkit-linear-gradient(left top, #081659, #7bc8ff); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(bottom right, #081659, #7bc8ff); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(bottom right, #081659, #7bc8ff); /* For Firefox 3.6 to 15 */
	  background: linear-gradient(to bottom right, #081659, #7bc8ff);
	  
	  height: 51vh;
	  padding-top: 15vh;
	}
    #partInput {
	  border: none;
	  font-size: 23px;
	  padding: 5px 15px;
	}
	#partInput:focus {
	  border: 1px solid black;
	  outline: none;
	}
	#LeGoButton {
	  height: 38px;
	  position: relative;
	  top: -4px;
	}
    #donthavename {
	  /*border: 4px solid black;*/
	  margin-bottome: 20px;
	  overflow: hidden;
	}
	.mid-font {
      font-size: 23px;
    }
	#info {
	  background-color: white;
	  color: black;
	  float: left;
	  line-height: 35px;
	  padding: 10px;
	  width: 100%;
    }
	.btmimg {
	  height: 200px;
	  margin-right: 10px;
	}
	#parts-demo {
	  float: left;
	  width: calc(60% - 20px);
	}
	@media screen and (max-width: 550px){
	  #partInput {
	    font-size: 18px;
		width: calc(100% - 120px);
	  }
	  #LeGoButton {
	    height: 33px;
	    top: -2px;
	  }
	  .mid-font {
	    font-size: 18px;
	  }
	}
  </style>
{% endblock %}

{% block body %}
  <form id="myFormyThing" action="{% url 'search' %}" method="get" accept-charset="utf-8">
 	<p class="mid-font" style="color: white;">
	  {% if msg != "dw" and msg %}{{ msg }}<br>{% else %}Enter the part number you would like to locate or a relevent keyword in its description{% endif %}
	</p>
	<div style="">
      <input size="35" id="partInput" name="part" placeholder="Search" type="text"><!--
      --><button id="LeGoButton" type="submit">Go</button>
	</div>
  </form>
  
 <div id="donthavename">
    <div id="info">
      <h3>WHO ARE WE?</h3>
      <p class="mid-font">CFS Aero is an EASA145 MRO who repair and overhaul modern piston and turbine engines.<br>
      When the company was founded over 25 years ago its focus was on Classic Engines which it
      now no longer supports.<br> Accordingly, the company has a large number of parts within its
      stores which it is selling off to private collectors and commercial operators.</p>
	  <h3>CONDITION OF PARTS</h3>
      <p class="mid-font">All parts are sold as removed and most are in good condition (some are brand new and in their original packaging).<br>
	  We will gladly advise you of the visual condition of any part you are interested in.</br>
	  Most parts can also be overhauled and supplied with a Certificate of Conformity at an additional cost.</p>
	  <img class='btmimg' alt="Picture of a plane" src="https://mail.google.com/mail/u/0/?ui=2&ik=5599701345&view=fimg&th=15edda1707a02c67&attid=0.4&disp=emb&attbid=ANGjdJ9HI991zx8l5qRG4xwVddlj91ZQsNDZSpBxV3gN6BkTipjsTpgpiPRXzi-hWsFBo02G2LUvjLUQJHynBnP2GwlEZpwAa3hOGo58kUaJ0xYwUtbvF6pOLGSJh2Y&sz=w400-h266&ats=1507142928928&rm=15edda1707a02c67&zw&atsh=1"></img>
	  <img class='btmimg' alt="Picture of a plane" src="https://mail.google.com/mail/u/0/?ui=2&ik=5599701345&view=fimg&th=15edd9f809c46206&attid=0.7&disp=emb&attbid=ANGjdJ-_nJg-O6P3Ar_uunn4fl1si8JSw9SKth2bz1yvcw4tvspYDIkhH6j3PmP04T3wzXALMeSINaOE3PSdXneHg9g9zF9rt3vSbkAQZEFue48swpSUcj7rq4HOKNU&sz=w534-h400&ats=1506969712332&rm=15edd9f809c46206&zw&atsh=1"></img>
	  <img class='btmimg' alt="Picture of a plane" src="https://mail.google.com/mail/u/0/?ui=2&ik=5599701345&view=fimg&th=15edd9f809c46206&attid=0.9&disp=emb&attbid=ANGjdJ9_NaEJZMHlysgtcYzUn10KV09Uql5PmW5FcMYKgQ07kwprO-LDXsMV9x4POUJXCbIDS1AlLeVu2UVRPcc8SOHx5k2QaFEVwGtsoBxG9IY7mMekeSQp9Vkdrng&sz=w600-h400&ats=1506969712332&rm=15edd9f809c46206&zw&atsh=1"></img>
	  </div> 
  </div>
{% endblock %}

{% block script %}
{% endblock %}
