{% extends 'manager/base.html' %}

{% block head %}

  <style> 
    body { background-color: black; }
	
    #myFormyThing {
	  background: #7bc8ff; /* For browsers that do not support gradients */    
      background: -webkit-linear-gradient(left top, #081659, #7bc8ff); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(bottom right, #081659, #7bc8ff); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(bottom right, #081659, #7bc8ff); /* For Firefox 3.6 to 15 */
	  background: linear-gradient(to bottom right, #081659, #7bc8ff);
	  
	  height: 50vh;
	  padding-top: 70px;
	}
    #partInput {
	  border: none;
	  font-size: 23px;
	  padding: 5px 15px;
	}
	#partInput:focus {
	  border: 1px solid black;
	  outline: none;
	}
	#LeGoButton {
	  height: 38px;
	  position: relative;
	  top: -4px;
	}
    #donthavename {
	  /*border: 4px solid black;*/
	  margin-bottome: 20px;
	  overflow: hidden;
	}
	.mid-font {
      font-size: 23px;
    }
	#info {
	  background-color: white;
	  color: black;
	  float: left;
	  line-height: 35px;
	  padding: 10px;
	  width: 100%;
    }	  
	#parts-demo {
	  float: left;
	  width: calc(60% - 20px);
	}
	@media screen and (max-width: 550px){
	  #partInput {
	    font-size: 18px;
		width: calc(100% - 120px);
	  }
	  #LeGoButton {
	    height: 33px;
	    top: -2px;
	  }
	  .mid-font {
	    font-size: 18px;
	  }
	}
  </style>
{% endblock %}

{% block body %}
  <form id="myFormyThing" action="{% url 'search' %}" method="get" accept-charset="utf-8">
 	<p class="mid-font" style="color: white;">
	  {% if msg != "dw" %}{{ msg }}<br>{% else %}Enter the part number you would like to locate or a relevent keyword in its description{% endif %}
	</p>
	<div style="">
      <input size="35" id="partInput" name="part" placeholder="Search" type="text"><!--
      --><button id="LeGoButton" type="submit">Go</button>
	</div>
  </form>
  
 <div id="donthavename">
    <div id="info">
      <h3>WHO ARE WE?</h3>
      <p class="mid-font">CFS Aero is an EASA145 MRO who repair and overhaul modern piston and turbine engines.<br>
      When the company was founded over 25 years ago its focus was on Classic Engines which it
      now no longer supports.<br> Accordingly, the company has a large number of parts within its
      stores which it is selling off to private collectors and commercial operators.</p>
    </div> 
  </div>
{% endblock %}

{% block script %}
{% endblock %}
