{% extends 'manager/base.html' %}

{% block head %}
  <title>{{ parts.0.number }} | CFS Aero Parts</title>
  <meta name="description" content="CFS Aero is currently selling {{ parts.0.quantity }} {{ parts.0.description }} for £{{ parts.0.price }}" />
  <meta name="keywords" content="CFS Aero,planes,aeroplanes,airplanes,classic,parts,plane parts,aeroplane parts, part number,{{ parts.0.number }},{{ parts.0.description }}">
  <style>
  #leInfo {
    align-items: center; 
	justify-content: center;
	
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

	padding: 0px 40px;
	text-align: center;
  }
  h1 {
    font-size: 40px;
  }
  #leInfo table {
    border-collapse: collapse;
	margin: 15px 20px;
  }
  #leInfo table caption{
    background-color: #7bc8ff;
	font-size: 1.5em;
	padding: 10px 0px;
  }
  #leInfo table, #leInfo td {
	padding: 8px 20px;
  }
  #leInfo table {
    border: 2px solid #eaeaea;
  }
  #leInfo tr:nth-of-type(even) {
    background-color: #eaeaea;
  }
  
  @media screen and (max-width: 430px){
    #leInfo {
	  display: block;
	}	  
  }

  </style>
{% endblock %}

{% block body %}

<br>
<h1>Part: {{ parts.0.number }}</h1>
<div id="leInfo">
  {% for type in parts %}
	<div class="container">
	{% if user.is_authenticated %}
      <a href="{% if parts|length > 1 %}{{ type.my_str }}/{% endif %}edit" class="mybut" >Edit</a>
      <a href="{% if parts|length > 1 %}{{ type.my_str }}/{% endif %}remove" class="mybut" >Delete</a>
	  <br>
    {% endif %}
      <table>
	    <caption>Information</caption>
        <tr>
          <td>Number</td>
	      <td>{{ type.number}}</td>
	    </tr>
        <tr>
          <td>Description</td>
    	  <td>{{ type.description}}</td>
        <tr>
	      <td>Price</td>
	      <td>&#163;{{ type.price }}</td>
	    <tr>
          <td>Condition</td>
          <td>{{ type.condition }}</td>
	    <tr>
          <td>Quantity</td>
          <td>{{ type.quantity }}</td>
	    </tr>
	  {% if user.is_authenticated %}
	    <tr>
	      <td>Location</td>
		  <td>{{ type.location }}</td>
	    </tr>
	  {% endif %}
      </table>
	</div>
	<br>
  {% endfor %}
</div>
<br>
<br>
<p>Interested? <a href="/contact/?part={{ parts.0.number }}">Contact us</a></p>

{% endblock %}

{% block script %}
{% endblock %}
