{% extends 'manager/base.html' %}

{% block head %}
  <style>  
  .partTable {
    border-collapse: collapse;
    margin: auto;
    text-align: center;
  }
  .partTable tr {
    cursor: pointer;
  }
  .partTable tr:nth-of-type(even) {
    background-color: #eaeaea;
  }
  .row:hover {
    background-color: #4ec6d3 !important;
	border: none;
  }
  .partTable td{
    padding: 5px 10px;
  }
  .tr-link {
    position: absolute;
	width: 100%;
  }
  </style>
{% endblock %}

{% block body %}
<div style="overflow-x: auto">
  <br>
  <p>A list of parts that match "{{ query }}"</p>
  <table class="partTable">
    <tr>
      <th>Reference</th>
      <th>Description</th>
	  <th>Price</th>
	  <th>Condition</th>
	  <th>Qty</th>
    </tr>
  
  {% for part in parts %}
    <tr class="row">
      <td>{{ part.number }}</td>
	  <td>{{ part.description }}</td>
	  <td>£{{ part.price }}</td>
	  <td>{{ part.condition }}</td>	
	  <td>{{ part.quantity }}</td>	
    </tr>
  {% endfor %}
  </table>
  <br>
</div>
{% endblock %}

{% block script %}
rows = document.getElementsByClassName("row");
for (let i=0; i<rows.length; i++){
  rows[i].addEventListener("click", function(){
  window.location = '/parts/' + rows[i].getElementsByTagName('td')[0].innerHTML;
  });
}
{% endblock %}
