{% extends 'manager/base.html' %}

{% block head %}
  <title>CFS Aero Parts-{{ part.name }}</title>
  <meta name="description" content="We sell classic aeoplane parts" />
  <style>
  #leInfo {
    align-items: center; /* Vertical center alignment */
	
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

	justify-content: center;
    min-height: 70vh;
	padding: 0px 40px;
	text-align: center;
  }
  #leInfo h1 {
    color: #7bc8ff;
    font-size: 40px;
  }
  #leInfo p {
    font-size: 25px;
  }
  </style>
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
  <br>
  <a href="edit">Edit</a>
  <a href="remove">Delete</a>
{% endif %}

<div id="leInfo">
  <div>
  <h1>#{{ type.number }} - {{ type.name }}</h1>
<p>Number: {{ type.number}}</p>
<p>Description: {{ type.description}}</p>
<p>Price: &#163;{{ type.price }}</p>
<p>Condition: {{ type.condition }}</p>
<p>Quantity: {{ type.quantity }}</p>
  </div>
</div>
<p>Contact bla bla</p>

{% endblock %}

{% block script %}
{% endblock %}
