{% extends 'manager/base.html' %}

{% block head %}
  <title>Parts that match "{{ query }} | CFS Aero" </title>
  <style>  
  .partTable {
    border-collapse: collapse;
    margin: auto;
    text-align: center;
  }
  .partTable tr {
    cursor: pointer;
  }
  .partTable tr:nth-of-type(even) {
    background-color: #eaeaea;
  }
  .row{
    transition: background-color 0.4s;
   }
  .row:hover {
    background-color: #4ec6d3 !important;
	border: none;
  }
  .partTable td{
    padding: 5px 10px;
  }
  .tr-link {
    position: absolute;
	width: 100%;
  }
  </style>
{% endblock %}

{% block body %}
<div style="overflow-x: auto">
  <br>
  <p>A list of parts that match "{{ query }}"</p>
  <table class="partTable">
    <tr>
      <th>Reference</th>
      <th>Description</th>
	  <th>Price</th>
	  <th>Condition</th>
	  <th>Qty</th>
	  {% if user.is_authenticated %}<th>Location</th>{% endif %}
    </tr>
  
  {% for part in parts %}
    <tr class="row">
      <td>{{ part.number }}</td>
	  <td>{{ part.description }}</td>
	  <td>&#163;{{ part.price }}</td>
	  <td>{{ part.condition }}</td>	
	  <td>{{ part.quantity }}</td>	
	  {% if user.is_authenticated %}<td>{{ part.location }}</td>{% endif %}
    </tr>
  {% endfor %}
  </table>
  <br>
</div>
{% endblock %}

{% block script %}
rows = document.getElementsByClassName("row");
stop = 0;

function myfunc(i){
  return function(){
    if(!stop){
      stop = 1;
      var goto = '/parts/' + rows[i].getElementsByTagName('td')[0].innerHTML;
	  window.location = goto;	  
    };
  };
}
for (var i=0; i<rows.length; i++){
  rows[i].addEventListener("click", myfunc(i));
  rows[i].addEventListener("touchstart", myfunc(i));
}

{% endblock %}
