{% extends 'manager/base.html' %}

{% block head %}
  <title>{{ type.number }} - {{ type.description }} | CFS Aero Parts</title>
  <meta name="description" content="CFS Aero is currently selling {{ type.quantity }} {{ type.description }} for £{{ type.price }}" />
  <style>
  #leInfo {
    align-items: center; /* Vertical center alignment */
	
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

	justify-content: center;
	padding: 0px 40px;
	text-align: center;
  }
  #leInfo h1 {
    font-size: 40px;
  }
  #leInfo table {
    border-collapse: collapse;
    margin: 0px auto;
  }
  #leInfo table caption{
    background-color: #7bc8ff;
	font-size: 1.5em;
	padding: 10px 0px;
  }
  #leInfo table, #leInfo td {
	padding: 8px 20px;
  }
  #leInfo table {
    border: 2px solid #eaeaea;
  }
  #leInfo tr:nth-of-type(even) {
    background-color: #eaeaea;
  }
}

  </style>
{% endblock %}

{% block body %}
{% if user.is_authenticated %}
  <br>
  <a href="edit" class="mybut" >Edit</a>
  <a href="remove" class="mybut" >Delete</a>
{% endif %}

<div id="leInfo">
  <div id="container">
    <h1>#{{ type.number }} - {{ type.description }}</h1>
    <br>
    <table>
	  <caption>Information</caption>
      <tr>
    	<td>Number</td>
	    <td>{{ type.number}}</td>
	  </tr>
      <tr>
        <td>Description</td>
    	<td>{{ type.description}}</td>
      <tr>
	    <td>Price</td>
	    <td>&#163;{{ type.price }}</td>
	  <tr>
        <td>Condition</td>
        <td>{{ type.condition }}</td>
	  <tr>
        <td>Quantity</td>
        <td>{{ type.quantity }}</td>
	  </tr>
	{% if user.is_authenticated %}
	  <tr>
	    <td>Location</td>
		<td>{{ type.location }}</td>
	  </tr>
	{% endif %}
    </table>
  </div>
</div>
<br>
<br>
<p>Interested? <a href="/contact/?part={{ type.number }}">Contact us</a></p>

{% endblock %}

{% block script %}
{% endblock %}
