{% extends 'manager/base.html' %}

{% block head %}
  <title>Admin | CFS Aero</title>
  <meta name="description" content="This page allows admin users to add, ddelete and edit parts"/>
  <meta name="robots" content="noindex,follow"/>
  <style>
  .row td a {
    color: black;
	line-height: 1em;
    text-decoration: none;
  }
  /*.row td a:hover {
    font-size: 1.4em;
	position: absolute;
    vertical-align: middle;
  }*/
  </style>
{% endblock %}

{% block body %}
<br>
<h1>Welcome to the admin page, {{ user.name }}</h1>
<a href="/new">Add new part</a>
<p>All parts</p>

<table class="partTable">
  <tr>
    <th>Reference</th>
    <th>Description</th>
	<th>Price</th>
	<th>Condition</th>
	<th>Quantity</th>
	<th>Location</th>
  </tr>
  
{% for part in parts %}
  <tr class="row">
    <td>{{ part.number }}</td>
	<td>{{ part.description }}</td>
	<td>£{{ part.price }}</td>
	<td>{{ part.condition }}</td>	
	<td>{{ part.quantity }}</td>
    <td>{{ part.location }}</td>	
	<td><a href="/parts/{{ part.number }}/edit">&#9986;</a></td>
	<td><a href="/parts/{{ part.number }}/remove">&#10006;</a></td>
  </tr>
{% endfor %}
</table>
<br>
{% endblock %}

{% block script %}
rows = document.getElementsByClassName("row");
for (let i=0; i<rows.length; i++){
  rows[i].addEventListener("click", function(){
  window.location = '/parts/' + rows[i].getElementsByTagName('td')[0].innerHTML;
  });
}
{% endblock %}
