{% extends "manager/base.html" %}

{% block head %}  
  <title>Login | CFS Aero</title>
  <meta name="robots" content="noindex,follow"/>
{% endblock %}

{% block body %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <br>
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <table>
        <tr>
            <td>Username: </td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>Password: </td>
            <td>{{ form.password }}</td>
        </tr>
        </table>

        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}

{% block script %}
{% endblock %}